spring:
  application:
    name: Digizenger-Demo
    server:
      port: 8080

  datasource:
    url: jdbc:mysql://digizenger-uat-do-user-14478497-0.d.db.ondigitalocean.com:25060/digizenger
    username: edusn
    password: AVNS_fDr_E9j3sI3DBiZfpHO


    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    show-sql: true

  jackson:
    date-format: dd-MM-yyyy

  mail:
    host: smtp.gmail.com
    port: 587
    username: edusnmailbox@gmail.com
    password: ccflgzbwvthgoqzu
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  profileUrl: http://digizenger.info/api/v1/profile/
